@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Regular.ttf") format("truetype");
}
