@import "./font.scss";

body {
  font-family: "Kanit";
  font-size: 1rem;
}

.font-kanit {
  font-family: "Kanit";
}

.swiper-button-next {
  background-image: url(../asset//images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../asset//images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}
